
<title>SOT Online Market!!!</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
<script src="js/main.js"></script>

<!--jQuery form validator 사용 : http://www.formvalidator.net-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


<script>
function submit_logout() {
  var addr = "/action_logout_member";

  $.post(addr,
  function(data, status){
    if(status == "success"){
      if (data == "LOGOUT_SUCCESS")
      {
        //alert("Logout success!");
        window.location.replace("/sotmain");
      }
      else
      {
        //Anything need to do when login failed
      }
    } else {
      alert("There's some problem . Please try it in seconds.");
    }
  });
}
</script>
