
<header id="header" style="position: -webkit-sticky; position: sticky;  top: 0; background: #ffffff; z-index:100; ">
  <a href="javascript:pageUrl('/sotmain')" class="logo" style="">

<% if (req.session.bizsite_name == "sot") { %>
    <H2>"솥" 오픈마켓</H2>
<% } else { %>
    <img src="/uploads/<%-req.session.bizsite_logo%>" style="height : 60px">
<% } %>

  </a>



  <div class="register" style="text-align:right;padding-top:35px;padding-right:5px;">

    <% if (req.session.login) { %>
      <%= req.session.member_name %> / <a href="#" onclick="submit_logout()"> 로그아웃 </a>
    <% } else { %>
        <a href="javascript:pageUrl('/login_member')"> 로그인 </a> / <a href ="javascript:pageUrl('/register_member')" style=""> 회원가입 </a>
    <% } %>

    <% /* decodeURIComponent(res.get("biz"))  */ %>

  </div>
  <!--div id="sizetest"></div-->

  <!--ul class="icons">
    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
  </ul-->
</header>
