<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <!--form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form-->
          <% if (req.session.login) { %>
            <%= req.session.member_email %> </br>
            <a href="#" onclick="submit_logout()"> 로그아웃 </a>
          <% } else { %>
              <a href="javascript:pageUrl('/login_member')"> 로그인 </a>
          <% } %>

        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>메뉴</h2>
          </header>
          <ul>
            <li><a href="index.html">SOT 소개</a></li>
            <li><a href="generic.html">이용약관</a></li>
            <% if (!req.session.login) { %>
            <li><a href="javascript:pageUrl('/register_member')">회원가입</a></li>
            <% } %>
            <li><a href="javascript:pageUrl('/exchange_sot')">SOT코인 환전센터</a></li>
            <li>
              <span class="opener">상품카테고리</span>
              <ul>
                <li><a href="javascript:pageUrl('/sot_product_list')">전체 카테고리</a></li>
              </ul>
            </li>
            <% if (req.session.login && req.session.biz) { %>
              <li><a href="javascript:pageUrl('/register_product')">판매상품 등록</a></li>
            <% } %>

            <% if (req.session.login) { %>
            <li>
              <span class="opener">마이페이지</span>
              <ul>
                <li><a href="javascript:pageUrl('/config_member')">계정설정</a></li>

                <% if (!req.session.biz) { %>
                  <li><a href="javascript:pageUrl('/register_bizinfo')">판매자등록</a></li>
                <% } %>
                <% if (req.session.biz) { %>
                  <li><a href="javascript:pageUrl('/sot_bizsite_conf')">판매자 사이트 설정</a></li>
                  <li><a href="javascript:pageUrl('/sot_my_product')">판매상품 관리</a></li>
                  <li><a href="javascript:pageUrl('/contract_seller')">판매계약 관리</a></li>
                <% } %>

                <li><a href="javascript:pageUrl('/contract_buyer')">구매계약리스트</a></li>
                <li><a href="javascript:pageUrl('/favorite_product')">관심상품</a></li>
                <li><a href="javascript:pageUrl('/goodbye_member')">회원탈퇴</a></li>
                <li><a href="javascript:pageUrl('/msgbox')">메시지 함</a></li>
                <% if (req.session.biz) { %>
                  <li><a href="javascript:pageUrl('/api_setting')">SOT API셋팅</a></li>
                <% } %>
              </ul>
            </li>
            <% } %>

          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Ante interdum</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
            <li class="fa-phone">(000) 000-0000</li>
            <li class="fa-home">1234 Somewhere Road #8254<br />
            Nashville, TN 00000-0000</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
  </div>


  <!-- Common Dialog -->
  <div id="dialog_box" title=""></div>
  <div id="msg_send_box" title="">
    <form id="msg_send_form">
      <textarea id="_msg_text" style="width:300px;height:150px;"></textarea>
      <input type="hidden" id="_msg_to">
      <input type="hidden" id="_msg_contract_id">
    </form>
  </div>

  <script>
    var dialog;
    var msg_dialog;
    $(document).ready(function(){
      dialog = $( "#dialog_box" ).dialog({
                 autoOpen: false,
                 modal: true,
                 buttons: {
                   확인: function() {
                     $( this ).dialog( "close" );
                   }
                 }
               });
     msg_dialog = $( "#msg_send_box" ).dialog({
                autoOpen: false,
                title: "쪽지보내기",
                modal: true,
                width:330,
                buttons: {
                  전송: function() {
                    sendMsg();
                    //$( this ).dialog( "close" );
                  }
                },
                close: function() {
                  $("#_msg_to").val("");
                  $("#_msg_contract_id").val("");
                  $("#_msg_text").val("");
                }
              });
    });

    function msgTo(_to, _contract_id) {
			$("#_msg_to").val(_to);
			$("#_msg_contract_id").val(_contract_id);
			msg_dialog.dialog("open");
		}

    function sendMsg() {
      var addr = "/action_send_msg";
      var p_to = $("#_msg_to").val();
			var p_contract_id = $("#_msg_contract_id").val();
      var p_msg_text = $("#_msg_text").val();
      var p_msg_type = 'MSG';

			$.post(addr,
			{
				msg_to:p_to,
        msg_contract_id:p_contract_id,
        msg_text:p_msg_text,
        msg_type:p_msg_type
			},
			function(data, status){
				if(status == "success"){
					if(checkRestData(data)) {
						return false;
					}
          msg_dialog.dialog("close");
          $("#_msg_to").val("");
          $("#_msg_contract_id").val("");
          $("#_msg_text").val("");
          /*
					dialog.dialog("option","title","판매자");
					$("#dialog_box").html("<span class='ui-icon ui-icon-person'></span> "+data.provider_name+"<br><span class='ui-icon ui-icon-contact'></span> "+data.contact_phone+"<br><span class='ui-icon ui-icon-flag'></span> "+data.contact_address);
					dialog.dialog("open");
          */
				} else {
					alert("There's some problem . Please try it in seconds.");
				}
			});
    }


  </script>
